##### Language
# C/C++
*.c C
*.cc text
*.cxx text
*.cpp CPP
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text
*.slo binary
*.lo binary
*.o binary
*.obj binary
*.gch binary
*.pch binary
*.so binary
*.dylib binary
*.dll binary
*.lai binary
*.la binary
*.a binary
*.lib binary
*.exe binary
*.out binary
*.app binary
